$black: #000;
$bg-dark: #272b33;
$dark-gray: #3c3e44;
$light-gray: #ddd;
$neon-green: #39ff14;
$electric-blue: #1db1f7;
$intense-red: #ff0000;
$bright-yellow: #ffc300;
$white: #eee;

$primary-font: "Delicious Handrawn", cursive;

$border-radius: 0.3em;

$animation-duration: 0.3s;
$animation-function: ease-in-out;

$card-max-width-large: 550px;
$gap: 1em;
