@use "./variables" as *;

.card {
  display: flex;
  flex-direction: column;

  width: min(100% - 2rem, $card-max-width-small);

  font-family: $primary-font;

  background-color: $dark-gray;
  color: $white;
  border-radius: $border-radius;

  &__title {
    margin-block: 0;

    text-decoration: none;
    font-size: 1.1rem;

    color: $neon-green;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &__subtitle {
    font-size: 0.9rem;
    color: $electric-blue;
  }

  &__description {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    flex-wrap: wrap;

    font-size: 1rem;
  }

  &__image {
    display: block;
    object-fit: cover;

    width: min(100%, $card-max-width-small);

    border-radius: $border-radius;
  }

  &__content {
    padding: 1em;
  }

  &__indicator {
    display: block;
    width: 10px;
    height: 10px;
    background-color: $white;
    border-radius: 50%;

    &--alive {
      background-color: $neon-green;
    }

    &--dead {
      background-color: $intense-red;
    }

    &--unknown {
      background-color: $light-gray;
    }
  }
}

@media screen and (min-width: 950px) {
  .card {
    width: min(100% - 2rem, $card-max-width-large);

    &__image {
      width: min(100%, $card-max-width-large);
    }
  }
}
